body {
	background-color: lightpink;
	font-size: 16px;
	font-family: 'Fira Code';
}

footer{
	bottom: 0px;
	left: 50px:;
	background-color: green;
}

h3 {
    text-align: right;
    font-size: 26px;
    color: white;
}


table, th, td {
    border: 1px solid blue;
}
